body {
  margin: 0;
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

.container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

header {
  min-height: 120px;
}

nav {
  margin-top: 3px;
}
@media (max-width: 767px) {
  nav {
    display: none;
  }
}

.container-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  color: #545454;
  transition: 0.3s;
}

.logo_text {
  margin: 9px 0 0 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #292929;
  transition: 0.3s;
}

.header_menu {
  display: flex;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #545454;
}

.menu_item {
  margin-left: 36px;
  padding-bottom: 5px;
  color: #545454;
}
.menu_item > a {
  color: #545454;
}

.selected {
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
}
.selected > a {
  color: #545454;
}

.menu_item-link {
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  padding-bottom: 5px;
}

@media (max-width: 767px) {
  .hamb {
    width: 30px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 2px;
    z-index: 15;
  }
  .hamb span {
    border: 1px solid #000000;
    transition: all 0.3s;
  }
}

@media (hover: hover) {
  .menu_item-link:hover {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
    color: #292929;
  }
  .container-header > a:hover .logo {
    color: #F1CDB3;
  }
  .container-header > a:hover .logo_text {
    color: #F1CDB3;
  }
}
.menu_item-link:active {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 5px;
  color: #292929;
}

.container-header > a:active .logo {
  color: #F1CDB3;
}
.container-header > a:active .logo_text {
  color: #F1CDB3;
}

main {
  background: #F6F6F6;
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  text-align: center;
  margin: 80px 0 60px;
}
@media (max-width: 768px) {
  .our-friends > h2 {
    margin: 80px 0 30px;
  }
}
@media (max-width: 320px) {
  .our-friends > h2 {
    margin: 41px 0 42px;
    font-size: 2.5rem;
  }
}

.our-friends_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .our-friends_content {
    max-width: 580px;
  }
}

.our-friends_item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  align-items: center;
  border-radius: 9px;
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 320px) {
  .our-friends_item {
    margin: 0 auto 30px;
  }
}
.our-friends_item > img {
  margin-bottom: 30px;
}
.our-friends_item > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 30px;
}
.our-friends_item > button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .invisible-on-tablet {
    display: none;
  }
}

@media (max-width: 320px) {
  .invisible-on-mobile {
    display: none;
  }
}

.our-friends_nav {
  display: flex;
  margin: 30px 0 99px;
  max-width: 339px;
  justify-content: space-between;
  width: 100%;
}
.our-friends_nav > button {
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}
@media (max-width: 768px) {
  .our-friends_nav {
    margin: 8px 0 78px;
  }
}
@media (max-width: 320px) {
  .our-friends_nav {
    margin: 12px 0 42px;
  }
}

.circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transition: 0.3s;
}

.disabled {
  border: 2px solid #CDCDCD;
  background: #F6F6F6;
  color: #CDCDCD;
  cursor: not-allowed;
}

.active {
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  color: #292929;
  cursor: pointer;
}

.full {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
  color: #292929;
}

@media (hover: hover) {
  .circle.active:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .our-friends_item:hover {
    background: #FFFFFF;
  }
  .our-friends_item:hover > button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}
.circle.active:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.our-friends_item:active {
  background: #FFFFFF;
}
.our-friends_item:active > button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

footer {
  background: url("./../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-container {
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer-container {
    padding-top: 15px;
    padding: 15px 56px 0;
    justify-content: space-between;
  }
  .footer-container > :first-child {
    margin-left: 9px;
  }
}
@media (max-width: 768px) and (max-width: 320px) {
  .footer-container > :first-child {
    margin-left: 0;
  }
}
@media (max-width: 470px) {
  .footer-container {
    padding: 15px 10px 0;
  }
}
@media (max-width: 320px) {
  .footer-container {
    padding: 15px 10px 0;
  }
}

.footer_item {
  margin: 15px 0 67px;
  max-width: 310px;
  min-height: 231px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_item > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .footer_item > h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer_item {
    min-height: 231px;
    margin: 16px 0 67px;
  }
}
@media (max-width: 320px) {
  .footer_item {
    margin: 15px 0 24px;
    min-height: 209px;
  }
}

@media (max-width: 320px) {
  .second-footer-item {
    align-items: center;
    min-height: 223px;
    margin-bottom: 38px;
  }
  .second-footer-item > h2 {
    max-width: 280px;
  }
  .second-footer-item > :last-child {
    margin-right: 30px;
  }
}

.footer_link {
  display: flex;
}
.footer_link > p {
  display: flex;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.3s;
  align-items: center;
}
.footer_link > img {
  margin: 0 20px 0px 0;
}
@media (max-width: 320px) {
  .footer_link {
    justify-content: center;
  }
}

.footer_pet {
  margin-left: 23px;
  max-width: 300px;
}
.footer_pet > img {
  width: 100%;
}
@media (max-width: 768px) {
  .footer_pet {
    margin-left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .footer_pet {
    max-width: 260px;
  }
  .footer_pet > img {
    width: 100%;
  }
}

@media (hover: hover) {
  .footer_link:hover > p {
    color: #FFFFFF;
  }
}
.footer_link:active > p {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
