body {
  margin: 0;
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

.container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
  /* border: 1px solid red; */
}

header {
  min-height: 120px;
}

nav {
  margin-top: 3px;
}

.container-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  color: #545454;
  transition: 0.3s;
}

.logo_text {
  margin: 9px 0 0 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #292929;
  transition: 0.3s;
}

.header_menu {
  display: flex;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #545454;
}

.menu_item {
  margin-left: 36px;
  padding-bottom: 5px;
  color: #545454;
}
.menu_item > a {
  color: #545454;
}

.selected {
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
}
.selected > a {
  color: #545454;
}

.menu_item-link {
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  padding-bottom: 5px;
}

@media (hover: hover) {
  .menu_item-link:hover {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
    color: #292929;
  }
  .container-header > a:hover .logo {
    color: #F1CDB3;
  }
  .container-header > a:hover .logo_text {
    color: #F1CDB3;
  }
}
main {
  background: #F6F6F6;
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  text-align: center;
  margin: 80px 0 60px;
}

.our-friends_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-friends_item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  align-items: center;
  border-radius: 9px;
  transition: 0.3s;
  cursor: pointer;
}
.our-friends_item > img {
  margin-bottom: 30px;
}
.our-friends_item > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 30px;
}
.our-friends_item > button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

.our-friends_nav {
  display: flex;
  margin: 30px 0 99px;
  width: 339px;
  justify-content: space-between;
}
.our-friends_nav > button {
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transition: 0.3s;
}

.disabled {
  border: 2px solid #CDCDCD;
  background: #F6F6F6;
  color: #CDCDCD;
  cursor: not-allowed;
}

.active {
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  color: #292929;
  cursor: pointer;
}

.full {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
  color: #292929;
}

@media (hover: hover) {
  .circle.active:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .our-friends_item:hover {
    background: #FFFFFF;
  }
  .our-friends_item:hover > button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}
footer {
  background: #211F20;
  background-image: url("./../assets/images/noise_transparent@2x.png");
  background-image: url("./../assets/images/noise_transparent@2x.png"), linear-gradient(to left, #262425, #5B483A);
}

.footer-container {
  justify-content: space-between;
  padding-top: 40px;
}

.footer_item {
  margin-top: 16px;
  margin-bottom: 60px;
  max-width: 310px;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_item > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer_link {
  display: flex;
}
.footer_link > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.3s;
}
.footer_link > img {
  margin-right: 20px;
}

.footer_pet {
  margin-left: 23px;
}

@media (hover: hover) {
  .footer_link:hover > p {
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=style.css.map */
