header {
    min-height: 120px;
}

nav {
    margin-top: 3px;
}

.container-header {
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;  
}

.logo {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    letter-spacing: 0.06em;
    color: $dark;
    transition: .3s;
}

.logo_text {
    margin: 9px 0 0 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    color: $dark-gray;
    transition: .3s;
}

.header_menu {
    display: flex;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: $dark;
}

.menu_item {
    margin-left: 36px;
    padding-bottom: 5px;
    color: $dark;
    > a {
        color: $dark;
    }
}

.selected {
    border-bottom: 3px solid $beige;
    color: $dark-gray;
    > a {
        color: $dark-gray;
    }
}

.menu_item-link {
    border-bottom: 3px solid transparent;
    transition: all .3s;
    padding-bottom: 5px;
}

@include hover-for-desktop {
    .menu_item-link:hover {
        border-bottom: 3px solid $beige;
        padding-bottom: 5px;
        color: $dark-gray;
    }
    .container-header > a:hover {
        .logo {
            color: $beige;
        }
        .logo_text {
            color: $beige;
        }
    }
}