html {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

p {
  margin: 0;
}

h1, h2, h3, p {
  cursor: default;
  font-weight: 400;
}

.body {
  margin: 0;
  background-image: url(./image/body_background.jpg);
  background-position: top;
}

.container {
  display: flex;
  min-height: 100vh;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.header {
  display: flex;
}

.header__logo {
  width: 50px;
  height: 50px;
  background-image: url(./image/CSS3_logo.png);
  background-size: contain;
}

.header__title {
  display: flex;
  align-items: center;
  padding: 5px;
}

.header__text {
  font-size: 2rem;
  margin: 0;
}

.help-btn-container {
  display: flex;
  margin-left: auto;
}

.help-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 70px;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
  margin: auto;
  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.help-btn__title {
  font-size: 2rem;
  cursor: pointer;
}

.level-title {
  margin: 10px 0;
  font-size: 4rem;
  text-align: center;
}

.playing-field-container {
  display: flex;
}

.playing-field {
  display: inline-block;
  flex-direction: column;
  height: 150px;
  margin: auto;
  transform: translate3d(0, 0, 0);
  perspective: 400px;
  position: relative;
}

.table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 30px;
  min-height: 100px;
  background-color: rgb(202, 145, 60);
  transform: rotateX(30deg);
  transform-style: preserve-3d;
  transform-origin: bottom;
}

.thickness {
  width: 100%;
  height: 10px;
  background: orange;
}

.legs-container {
  display: flex;
  justify-content: space-between;
}

.leg {
  width: 50px;
  height: 20px;
  background: black;
  margin: 0 30px;
}

@keyframes moveCodeContainer {
  50% {
    width: 100%;
    border: 10px solid rgba(192, 7, 7, 0.616);
  }
}

.code-container {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  margin: 20px auto;
  border: 10px solid rgba(104, 101, 101, 0.295);
  border-radius: 5px;
  &.move {
    animation: moveCodeContainer 0.2s ease-out 0s 3.8 normal none;
  }
  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.code-container__item{
  width: 100%;
}

.code-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background: rgba(97, 97, 97, 0.9);
}

.code-container__text {
  margin: 0;
  padding: 10px;
  font-size: 2rem;
}

.code-container__field {
  height: 460px;
}

.code-container__field_css {
  background: #efefef;
}

.code-container__field_html {
  display: flex;
  background: rgba(0,0,0,.9);
}

.code-container__string-number-html {
  display: inline-block;
}

.code-container__html-markup {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@keyframes inputStrobe {
  50% {
    background: rgba(96, 190, 245, 0.425);
  }
}

.code-container__input {
  border: none;
  background: #efefef;
  font-size: 1.5rem;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.code-container__input_strobe {
  animation: inputStrobe 0.5s infinite;
}

.code-container__button {
  width: 50px;
  height: 20px;
  background: #35b6f0;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 2px 10px 0px;
}

.code-container__string {
  display: flex;
  align-items: center;
  height: 23px;
}

.code-container__string-number {
  display: flex;
  width: 35px;
  justify-content: center;
  align-items: center;
  background: gray;
  font-size: 1.5rem;
  flex-shrink: 0;
}

.code-container__string-text {
  font-size: 1.5rem;
  padding-left: 10px;
  cursor: default;
  color: #00000060;
}

.code-container__string-text_html-header {
  font-size: 1.5rem;
  color: #ffffff8a;
  padding-left: 10px;
  cursor: default;
}

.code-container__string-text_html {
  font-size: 1.5rem;
  color: #ffffff8a;
  padding-left: 20px;
  cursor: default;
  &:hover {
    color: white;
  }
  &.active {
    color: white;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.link-container {
  display: flex;
  align-items: center;
}

.gh-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./image/github_logo.svg);
  background-size: contain;
}

.gh-link-text {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  color: #000;
  transition: 0.3s;
  &:hover {
    color: white;
  }
}

.rs-logo {
  display: inline-block;
  width: 135px;
  height: 50px;
  background-image: url(./image/rs_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes victory {
  from {
    font-size: 7rem;
  }
  80% {
    font-size: 12rem;
  }
  to {
    font-size: 7rem;
  }
}

.victory {
  display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgba(105, 247, 105, 0.315);
}

.victory-text {
  font-size: 12rem;
  color: rgba(6, 184, 6, 0.9);
  font-weight: 900;
  animation: victory 1s ease-out 0s 3.8 normal none;
}
