html {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

p {
  margin: 0;
}

h1, h2, h3, p {
  cursor: default;
  font-weight: 400;
}

.body {
  margin: 0;
  background-image: url(./image/body_background.jpg);
  background-position: top;
}

.container {
  display: flex;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.header {
  display: flex;
}

.header__logo {
  width: 50px;
  height: 50px;
  background-image: url(./image/CSS3_logo.png);
  background-size: contain;
}

.header__title {
  display: flex;
  align-items: center;
  padding: 5px;
}

.header__text {
  font-size: 2rem;
  margin: 0;
}

.level-title {
  font-size: 4rem;
  text-align: center;
}

.playing-field-container {
  display: flex;
}

.playing-field {
  display: inline-block;
  flex-direction: column;
  height: 150px;
  margin: auto;
}

.table {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 30px;
}

.thickness {
  width: 100%;
  height: 10px;
  background: orange;
}

.legs-container {
  display: flex;
  justify-content: space-between;
}

.leg {
  width: 50px;
  height: 20px;
  background: black;
  margin: 0 30px;
}

.code-container {
  display: flex;
  box-sizing: border-box;
  width: 95%;
  margin: 20px auto;
  border: 10px solid rgba(104, 101, 101, 0.295);
  border-radius: 5px;
  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.code-container__item{
  width: 100%;
}

.code-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background: rgba(97, 97, 97, 0.9);
}

.code-container__text {
  margin: 0;
  padding: 10px;
  font-size: 2rem;
}

.code-container__field {
  height: 460px;
}

.code-container__field_css {
  background: #efefef;
}

.code-container__field_html {
  display: flex;
  background: rgba(0,0,0,.9);
}

.code-container__string-number-html {
  display: inline-block;
}

.code-container__html-markup {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.code-container__input {
  border: none;
  background: #efefef;
  font-size: 1.5rem;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.code-container__button {
  width: 50px;
  height: 20px;
  background: #35b6f0;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: auto 10px;
}

.code-container__string {
  display: flex;
  align-items: center;
  height: 23px;
}

.code-container__string-number {
  display: flex;
  width: 35px;
  justify-content: center;
  align-items: center;
  background: gray;
  font-size: 1.5rem;
  flex-shrink: 0;
}

.code-container__string-text {
  font-size: 1.5rem;
  padding-left: 10px;
  cursor: default;
  color: #00000060;
}

.code-container__string-text_html-header {
  font-size: 1.5rem;
  color: #ffffff8a;
  padding-left: 10px;
  cursor: default;
}

.code-container__string-text_html {
  font-size: 1.5rem;
  color: #ffffff8a;
  padding-left: 20px;
  cursor: default;
  &:hover {
    color: white;
  }
}

.sidebar {
  width: 300px;
  margin-left: auto;
  flex-shrink: 0;
  padding: 10px;
  background: rgba(104, 101, 101, 0.6);
  transition: .3s;
  right: 0;
  @media screen and (max-width: 1050px) {
    position: fixed;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 10;
    &.open {
      right: 0;
    }
  }
}

.sidebar__title-text {
  font-size: 3rem;
  padding: 15px;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.link-container {
  display: flex;
  align-items: center;
}

.gh-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./image/github_logo.svg);
  background-size: contain;
}

.gh-link-text {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  color: #000;
  transition: 0.3s;
  &:hover {
    color: white;
  }
}

.rs-logo {
  display: inline-block;
  width: 135px;
  height: 50px;
  background-image: url(./image/rs_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


