@keyframes movie-element {
  50% {
    transform: scale(0.8);
  }
}

@keyframes go-up {
  from {
    position: relative;
    top: 0;
  }
  to {
    top: -600px;
  }
}

@mixin elements {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  position: relative;
  background-size: 90% 90%;
  &:hover {
    background-color: rgba(121, 224, 107, 0.5);
  }
  &.active {
    background-color: rgba(121, 224, 107, 0.5);
  }
  &.move {
    animation: movie-element 0.8s infinite;
  }
}

cube {
  @include elements();
  width: 100px;
  height: 100px;
  background-image: url(./../../image/cube.svg);
  &.go-up {
    position: relative;
    animation: go-up 0.6s;
  }
}

little-cube {
  @include elements();
  width: 50px;
  height: 50px;
  background-image: url(./../../image/cube.svg);
  &.go-up {
    position: relative;
    animation: go-up 0.6s;
  }
}

ball {
  @include elements();
  width: 100px;
  height: 100px;
  background-image: url(./../../image/ball.svg);
  &.go-up {
    position: relative;
    animation: go-up 0.6s;
  }
}

little-ball {
  @include elements();
  width: 50px;
  height: 50px;
  background-image: url(./../../image/ball.svg);
  &.go-up {
    position: relative;
    animation: go-up 0.6s;
  }
}

pyramid {
  @include elements();
  width: 100px;
  height: 100px;
  background-image: url(./../../image/pyramid.svg);
  &.go-up {
    position: relative;
    animation: go-up 0.6s;
  }
}
