$tablet-width: 768px;
$min-width: 570px;

$size-int: 80%;
$lite-body-color: rgb(187, 236, 154);
$lite-button-color: rgb(148, 252, 221);
$lite-button-hover: rgb(117, 155, 120);
$lite-buttons-difficult: rgb(121, 221, 191);

$dark-body-color: rgb(102, 102, 102);
$dark-button-color: rgb(45, 78, 68);
$dark-button-hover: rgb(43, 54, 44);
$dark-buttons-difficult: rgb(45, 78, 68);
$dark-text-color: rgb(214, 211, 211);