@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia.woff2") format("woff2"), url("../../../assets/fonts/georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia-bold.woff2") format("woff2"), url("../../../assets/fonts/georgia/Georgia-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/ArialMT.woff2") format("woff2"), url("../../../assets/fonts/arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../../../assets/fonts/arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  margin: 0;
  font-size: 1.6rem;
}
body.noscroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

.container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  display: flex;
}

.modal {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 594px) {
  .modal {
    margin-left: 30px;
    max-width: 271px;
  }
}

.closeModalBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background: url("../../../../assets/images/icons/Vector_close_btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
  transition: 0.3s;
}
.closeModalBtn:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.modalContent {
  display: flex;
  max-width: 900px;
  min-height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
  margin-right: 42px;
}
@media (max-width: 768px) {
  .modalContent {
    max-width: 630px;
    min-height: 350px;
  }
}
@media (max-width: 594px) {
  .modalContent {
    margin-right: 31px;
    min-height: 341px;
  }
}

.modalContent_pet {
  width: 500px;
}
.modalContent_pet > img {
  width: 100%;
  border-radius: 9px;
  display: block;
}
@media (max-width: 768px) {
  .modalContent_pet {
    width: 350px;
  }
}
@media (max-width: 594px) {
  .modalContent_pet {
    display: none;
  }
}

.modalContent_text {
  box-sizing: border-box;
  padding: 52px 20px 0 30px;
  max-width: 400px;
}
@media (max-width: 768px) {
  .modalContent_text {
    max-width: 280px;
    padding: 12px 8px 0 11px;
  }
}

.modalContent_text-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
}
@media (max-width: 594px) {
  .modalContent_text-title {
    text-align: center;
    margin-bottom: 8px;
  }
}

.modalContent_text-type-breed {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .modalContent_text-type-breed {
    margin-bottom: 20px;
  }
}
@media (max-width: 594px) {
  .modalContent_text-type-breed {
    text-align: center;
  }
}

.modalContent_text-description {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 113%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .modalContent_text-description {
    font-size: 1.3rem;
    line-height: 110%;
    margin-bottom: 17px;
  }
}
@media (max-width: 320px) {
  .modalContent_text-description {
    text-align: justify;
    margin-bottom: 22px;
  }
}

.modalContent_text_options {
  list-style-type: disc;
  list-style-position: inside;
}

.modalContent_text_option {
  margin-bottom: 10px;
  color: #F1CDB3;
}
.modalContent_text_option > :first-child {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-left: -10px;
}
@media (max-width: 594px) {
  .modalContent_text_option > :first-child {
    margin-left: -8px;
  }
}
.modalContent_text_option > :last-child {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (max-width: 768px) {
  .modalContent_text_option {
    margin-bottom: 5px;
  }
}

header {
  min-height: 120px;
}

nav {
  margin-top: 3px;
}
@media (max-width: 767px) {
  nav {
    display: none;
  }
}

.container-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
@media (max-width: 320px) {
  .container-header {
    padding: 30px 20px 0;
  }
}

.logo {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  color: #545454;
  transition: 0.3s;
}

.logo_text {
  margin: 9px 0 0 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #292929;
  transition: 0.3s;
}

.header_menu {
  display: flex;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #545454;
}

.menu_item {
  margin-left: 36px;
  padding-bottom: 5px;
  color: #545454;
}
.menu_item > a {
  color: #545454;
}

.selected {
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
}
.selected > a {
  color: #292929;
  cursor: default;
}

.menu_item-link {
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  padding-bottom: 5px;
}
.menu_item-link:active {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 5px;
  color: #292929;
}

@media (max-width: 767px) {
  .hamb {
    width: 30px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 15;
    transition: all 0.3s;
    cursor: pointer;
  }
  .hamb span {
    border: 1px solid #F1CDB3;
  }
}
.hamb.active {
  transform: rotate(90deg);
}

.popup {
  display: none;
}
@media (max-width: 767px) {
  .popup {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 320px;
    height: 100%;
    right: -100%;
    z-index: 10;
    display: flex;
    transition: 0.3s;
    background: #F6F6F6;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .popup.open {
    right: 0;
  }
  .popup .header_menu {
    height: 327px;
    width: 243px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3.2rem;
  }
  .popup .header_menu > * {
    width: 100%;
  }
  .popup .header_menu .menu_item {
    margin-left: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .popup .header_menu .menu_item > a {
    width: 100%;
    display: block;
    padding-bottom: 2px;
    margin-top: 8px;
  }
}

.blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(41, 41, 41);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.blackout.active {
  background: rgb(41, 41, 41);
  opacity: 0.6;
  transition: 0.3s;
  z-index: 1;
}

@media (hover: hover) {
  .menu_item-link:hover {
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    color: #292929;
  }
  .menu_item-link:hover:active {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
    color: #292929;
  }
  .container-header > a:hover .logo {
    color: #F1CDB3;
  }
  .container-header > a:hover .logo_text {
    color: #F1CDB3;
  }
}
.container-header > a:active .logo {
  color: #F1CDB3;
}
.container-header > a:active .logo_text {
  color: #F1CDB3;
}

main {
  background: #F6F6F6;
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  text-align: center;
  margin: 80px 0 60px;
}
@media (max-width: 768px) {
  .our-friends > h2 {
    margin: 80px 0 30px;
  }
}
@media (max-width: 320px) {
  .our-friends > h2 {
    margin: 41px 0 42px;
    font-size: 2.5rem;
  }
}

.our-friends_content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .our-friends_content {
    max-width: 580px;
  }
}

.our-friends_item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  align-items: center;
  border-radius: 9px;
  transition: 0.3s;
  cursor: pointer;
}
.our-friends_item:active {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-friends_item:active > button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
@media (max-width: 320px) {
  .our-friends_item {
    margin: 0 auto 30px;
  }
}
.our-friends_item > img {
  margin-bottom: 30px;
}
.our-friends_item > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 30px;
}
.our-friends_item > button {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .invisible-on-tablet {
    display: none;
  }
}

@media (max-width: 320px) {
  .invisible-on-mobile {
    display: none;
  }
}

.our-friends_nav {
  display: flex;
  margin: 30px 0 99px;
  max-width: 339px;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .our-friends_nav {
    margin: 8px 0 78px;
  }
}
@media (max-width: 320px) {
  .our-friends_nav {
    margin: 12px 0 42px;
  }
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: 0.3s;
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 45px;
}
.circle.disabled {
  border: 2px solid #CDCDCD;
  background: #F6F6F6;
  color: #CDCDCD;
  cursor: not-allowed;
}
.circle.active {
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  color: #292929;
  cursor: pointer;
}
.circle.active:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.circle.full {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
  color: #292929;
}

@media (hover: hover) {
  .circle.active:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .our-friends_item:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .our-friends_item:hover > button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .our-friends_item:hover:active {
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .our-friends_item:hover:active > button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}
footer {
  background: url("../../../assets/images/img/noise_transparent@2x.png"), radial-gradient(at top left, #513D2F 0%, #1A1A1C 100%);
}

.footer-container {
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer-container {
    padding-top: 15px;
    padding: 15px 56px 0;
    justify-content: space-between;
  }
  .footer-container > :first-child {
    margin-left: 9px;
  }
}
@media (max-width: 768px) and (max-width: 320px) {
  .footer-container > :first-child {
    margin-left: 0;
  }
}
@media (max-width: 470px) {
  .footer-container {
    padding: 15px 10px 0;
  }
}
@media (max-width: 320px) {
  .footer-container {
    padding: 15px 10px 0;
  }
}

.footer_item {
  margin: 15px 0 67px;
  max-width: 310px;
  min-height: 231px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_item > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .footer_item > h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer_item {
    min-height: 231px;
    margin: 16px 0 67px;
  }
}
@media (max-width: 320px) {
  .footer_item {
    margin: 15px 0 24px;
    min-height: 209px;
  }
}

@media (max-width: 320px) {
  .second-footer-item {
    align-items: center;
    min-height: 223px;
    margin-bottom: 38px;
  }
  .second-footer-item > h2 {
    max-width: 280px;
  }
  .second-footer-item > :last-child {
    margin-right: 30px;
  }
}

.footer_link {
  display: flex;
}
.footer_link > p {
  display: flex;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.3s;
  align-items: center;
}
.footer_link > img {
  margin: 0 20px 0px 0;
}
@media (max-width: 320px) {
  .footer_link {
    justify-content: center;
  }
}

.footer_pet {
  margin-left: 23px;
  max-width: 300px;
}
.footer_pet > img {
  width: 100%;
}
@media (max-width: 768px) {
  .footer_pet {
    margin-left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .footer_pet {
    max-width: 260px;
  }
  .footer_pet > img {
    width: 100%;
  }
}

@media (hover: hover) {
  .footer_link:hover > p {
    color: #FFFFFF;
  }
}
.footer_link:active > p {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
