@font-face {
    font-family: 'Georgia';
    src: url('../../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
        url('../../../assets/fonts/georgia/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../../assets/fonts/georgia/Georgia-bold.woff2') format('woff2'),
        url('../../../assets/fonts/georgia/Georgia-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../../assets/fonts/arial/ArialMT.woff2') format('woff2'),
        url('../../../assets/fonts/arial/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../../assets/fonts/arial/Arial-ItalicMT.woff2') format('woff2'),
        url('../../../assets/fonts/arial/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0;
    font-size: 1.6rem;
    &.noscroll {
        overflow: hidden;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;

}

.container {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $container_max-width;
    padding: 0 40px;
    @include media-tablet {
        padding: 0 30px;
    }
    @include media-mobile {
        padding: 0 10px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    display: flex;
}

.modal {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    @include mobile-modal {
        margin-left: 30px;
        max-width: 271px;
    }
}

.closeModalBtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid $beige;
    background: url('../../../../assets/images/icons/Vector_close_btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: auto;
    transition: .3s;
    &:hover {
        border: 2px solid $beige-ligth;
        background-color: $beige-ligth;
    }
}

.modalContent {
    display: flex;
    max-width: 900px;
    min-height: 500px;
    background: $lite;
    border-radius: 9px;
    margin-right: 42px;
    @include media-tablet {
        max-width: 630px;
        min-height: 350px;
    }
    @include mobile-modal {
        margin-right: 31px;
        min-height: 341px;
    }
}

.modalContent_pet {
    width: 500px;
    > img {
        width: 100%;
        border-radius: 9px;
        display: block;
    }
    @include media-tablet {
        width: 350px;
    }
    @include mobile-modal {
        display: none;
    }
}

.modalContent_text {
    box-sizing: border-box;
    padding: 52px 20px 0 30px;
    max-width: 400px;
    @include media-tablet {
        max-width: 280px;
        padding: 12px 8px 0 11px;
    }
}

.modalContent_text-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 10px;
    @include mobile-modal {
        text-align: center;
        margin-bottom: 8px;
    }
}

.modalContent_text-type-breed {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 40px;
    @include media-tablet {
        margin-bottom: 20px;
    }
    @include mobile-modal{
        text-align: center;
    }
}

.modalContent_text-description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 113%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 40px;
    @include media-tablet {
        font-size: 1.3rem;
        line-height: 110%;
        margin-bottom: 17px;
    }
    @include media-mobile {
        text-align: justify;
        margin-bottom: 22px;
    }
}

.modalContent_text_options {
    list-style-type: disc;
    list-style-position: inside;
}

.modalContent_text_option {
    margin-bottom: 10px;
    color: $beige;
    > :first-child {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #000000;
        margin-left: -10px;
        @include mobile-modal {
            margin-left: -8px;
        }
    }
    > :last-child {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #000000;
    }
    @include media-tablet {
        margin-bottom: 5px;
    }
}