.about-container {
    padding-top: 80px;
    justify-content: center;
    padding-bottom: 97px;
    @include media-tablet {
        flex-direction: column-reverse;
        padding-bottom: 100px;
    }
}

.about-image > img {
    margin-right: 120px;
    @include media-tablet {
        margin-right: 0;
        margin-top: 80px;
    }
}

.about-image {
    @include media-tablet {
        display: flex;
        justify-content: center;
    }
}

.about_text-contant {
    max-width: 430px;
    > h2 {
        display: block;
        max-width: 370px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $dark;
        margin-top: 14px;
    }
    > p {
        display: block;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 160%;
        color: $darkq-gray-lite;
        margin-top: 24px;
    }
    @include media-tablet {
        margin: 0 auto      ;
        > h2 {
            margin-top: 0;
        }
    }
}