footer {
    background: #211F20;
    background-image: url('./../assets/images/noise_transparent@2x.png');
    background-image: url('./../assets/images/noise_transparent@2x.png'), linear-gradient(to left, #262425, #5B483A);
}

.footer-container {
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
    @include media-tablet {
        padding-top: 15px;
        padding: 15px 56px 0;
        justify-content: space-between;
        > :first-child {
            margin-left: 9px;
        }
    }
}

.footer_item {
    margin-top: 16px;
    margin-bottom: 60px;
    max-width: 310px;
    min-height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $white;
    }
    @include media-tablet {
        min-height: 239px;
    }
}

.footer_link {
    display: flex;
    > p {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $beige;
        transition: .3s;
    }
    > img {
        margin: 0 20px 2px 0;
    }
}

.footer_pet {
    margin-left: 23px;
    @include media-tablet {
        margin-left: 0;
        margin: 0 auto;
    }
}

@include hover-for-desktop {
    .footer_link:hover > p {
        color: $white;
    }
}