.help-container {
    flex-direction: column;
    align-items: center;
}

.help_title {
    > h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $dark;
        text-align: center; 
    }
    margin-top: 82px;
    max-width: 310px;
    justify-content: center;    
}

.layout-5-columns {
    display: flex;
    width: 85.5%;
    justify-content: space-between;
    margin-top: 58px;
}

.layout-4-columns {
    display: flex;
    width: 82%;
    justify-content: space-around;
    margin: 55px 0 100px;
}

.help_item {
    > img {
        margin-bottom: 26px;
    }
    > p {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $dark;
    }
    text-align: center;
}