.not-only {
    background: #211F20;
    background-image: url('./../assets/images/noise_transparent@2x.png');
    background-image: url('./../assets/images/noise_transparent@2x.png'), linear-gradient(to left, #262425, #5B483A);
}

.not-only-container {
    @include media-tablet {
        flex-direction: column;
    }
}

.not-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 41px;
    @include media-tablet {
        max-width: 460px;
        margin-right: 0;
        margin: 0 auto;
    }
}

.not-only_title-container {
    max-width: 310px;
    margin: -18px 0 40px 0;
    @include media-tablet {
        margin: 61px 0 41px 0;
    }
    @include media-mobile {
        max-width: 200px;
        margin: 60px auto 41px;
    }
}

.not-only_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 130%;
    color: $white;
    @include media-mobile {
        font-size: 2.5rem;
        letter-spacing: 0.06em;
        text-align: center;
    }
}

.not-only_content-container {
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    margin-bottom: 42px;
}

.not-only_content {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $dark-lite;
    @include media-mobile {
        text-align: center;
    }
}

.not-only_button {
    width: 207px;
    height: 52px;
    background: $beige;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    color: $dark-gray;
    transition: all .3s;
    @include media-tablet {
        margin: 0 auto;
    }
}

.not-only_image {
    display: flex;
    max-width: 698px;
    margin-top: 61px;
    > img {
        max-width: 100%;
    }
    @include media-tablet {
        max-width: 569px;
        margin-top: 100px;
        margin-left: auto;
    }
    @include media-mobile {
        max-width: 260px;
        margin-top: 105px;
    }
}

@include hover-for-desktop {
    .not-only_button:hover {
        background: $beige-ligth;
    }
}