.not-only {
    background: #211F20;
    background-image: url('/pages/main/src/assets/images/noise_transparent@2x.png');
    background-image: url('/pages/main/src/assets/images/noise_transparent@2x.png'), linear-gradient(to left, #262425, #5B483A);
}

.not-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 41px;
}

.not-only_title-container {
    max-width: 310px;
    margin: -21px 0 40px 0;
}

.not-only_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 130%;
    color: $white;
}

.not-only_content-container {
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    margin-bottom: 42px;
}

.not-only_content {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $dark-lite;
}

.not-only_button {
    width: 203px;
    height: 48px;
    background: $beige;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    color: $dark-gray;
    transition: all .3s;
    border: 2px solid $beige;
}

.not-only_image {
    display: flex;
    max-width: 698px;
    max-height: 728px;
    margin-top: 61px;
    > img {
        max-width: 100%;
        max-width: 100%;
    }
}

@include hover-for-desktop {
    .not-only_button:hover {
        background: $lite;
    }
}