.our-friends {
    background: $gray;
    display: flex;
}

.our-friends-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.our-friends-title {
    max-width: 400px;
    > h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $dark;
        margin-top: 80px;
        text-align: center;
        @include media-tablet {
            margin-top: 81px;
        }
        @include media-mobile {
            font-size: 2.5rem;
            margin-top: 42px;
        }
    }
}

.our-friends_slider {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include media-tablet {
        margin-top: 57px;
    }
    @include media-mobile {
        margin-top: 42px;
    }
}

.our-friends_slider-items {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    @include media-tablet {
        margin-bottom: 60px;
    }
    @include to-slider-mobile-arrow {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    @include media-mobile {
        margin-bottom: 42px;
    }
}

.our-friends_button {
    display: flex;
    width: 257px;
    height: 48px;
    background: $beige;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $dark-gray;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 2px solid $beige;
    transition: .3s;
    @include media-mobile {
        margin-bottom: 42px;
    }
}

.arrow-prev {
    width: 48px;
    height: 48px;
    border: 2px solid $beige;
    border-radius: 50%;
    background: url("./../assets/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: .3s;
    @include media-tablet {
        margin-top: 3px;
    }
    @include to-slider-mobile-arrow {
        display: none;
        margin-top: 0;
        margin-right: 23px;
    }
}

.mobile-arrow-prev {
    display: none;
    width: 48px;
    height: 48px;
    border: 2px solid $beige;
    border-radius: 50%;
    background: url("./../assets/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: .3s;
    @include to-slider-mobile-arrow {
        display: block;
    }
}

.arrow-next {
    width: 48px;
    height: 48px;
    border: 2px solid $beige;
    border-radius: 50%;
    background: url("./../assets/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    flex-shrink: 0;
    cursor: pointer;
    transition: .3s;
    @include media-tablet {
        margin-top: 3px;
    }
    @include to-slider-mobile-arrow {
        margin-top: 0;
    }
}

.slider_item {
    width: 270px;
    height: 435px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $lite;
    border-radius: 9px;
    cursor: pointer;
    transition: .3s;
    > h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: 0.06em;
        color: $dark;
        margin-bottom: 30px;
    }
    > img {
        margin-bottom: 30px;
        @include media-tablet {
            margin-bottom: 31px;
        }
    }
    > button {
        width: 187px;
        height: 52px;
        border: 2px solid $beige;
        border-radius: 100px;
        background: $lite;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $dark-gray;
        cursor: pointer;
        transition: .3s;
    }
    @include media-mobile {
        > img {
            margin-bottom: 29px;
        }
    }
}

.slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 4.5%;
    @include media-tablet {
        overflow: hidden;
        margin: 0 1.5%;
        justify-content: space-between;
        > :last-child {
            display: none;
        }
    }
    @include to-slider-mobile {
        justify-content: space-between;
        margin: 0 1.5%;
    }
    @include no-second-slider-item {
        justify-content: center;
    }
    @include media-mobile {
        margin-bottom: 19px;
    }
}

.third-item {
    @include to-slider-tablet {
        display: none;
    }
}

.second-item {
    @include no-second-slider-item {
        display: none;
    }
}

@include hover-for-desktop {
    .slider_item:hover {
        background: $white;
        > button {
            background: $beige-ligth;
            border: 2px solid $beige-ligth;
        }
    }
    .our-friends_button:hover {
        background-color: $beige-ligth;
        border: 2px solid $beige-ligth;
    }
    .arrow-prev:hover, .arrow-next:hover {
        background-color: $beige-ligth;
        border: 2px solid $beige-ligth;
    }
}

.slider_item:active {
    background: $white;
    > button {
        background: $beige-ligth;
        border: 2px solid $beige-ligth;
    }
}
.our-friends_button:active {
    background-color: $beige-ligth;
    border: 2px solid $beige-ligth;
}
.arrow-prev:active, .arrow-next:active {
    background-color: $beige-ligth;
    border: 2px solid $beige-ligth;
}