@font-face {
  font-family: "Georgia";
  src: url("../../../../assets/fonts/georgia/Georgia.woff2") format("woff2"), url("../../../../assets/fonts/georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../../assets/fonts/arial/ArialMT.woff2") format("woff2"), url("../../../../assets/fonts/arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../../assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../../../../assets/fonts/arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  margin: 0;
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

.container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1280px;
  padding: 0 40px;
}

header, main, footer {
  min-width: 1280px;
}

header {
  background: url("./../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.container-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 59px;
}

.logo {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.3s;
}

.logo_text {
  margin: 9px 0 0 3px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: 0.3s;
}

nav {
  padding-top: 3px;
}

.header_menu {
  display: flex;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #FAFAFA;
}

.menu_item {
  margin-left: 36px;
  padding-bottom: 5px;
  color: #CDCDCD;
  transition: 0.3s;
}
.menu_item > a {
  color: #CDCDCD;
}

.selected {
  border-bottom: 3px solid #F1CDB3;
}
.selected > a {
  color: #FAFAFA;
  cursor: default;
}

.menu_item-link {
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  padding-bottom: 5px;
}

@media (hover: hover) {
  .menu_item-link:hover {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
    color: #FAFAFA;
  }
  .container-header > a:hover .logo {
    color: #FFFFFF;
  }
  .container-header > a:hover .logo_text {
    color: #F1CDB3;
  }
}
.not-only {
  background: url("./../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.not-only-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 41px;
}

.not-only_title-container {
  max-width: 310px;
  margin: -19px 0 40px 0;
}

.not-only_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
}

.not-only_content-container {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  margin-bottom: 42px;
}

.not-only_content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.not-only_button {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.3s;
}

.not-only_image {
  display: flex;
  max-width: 698px;
  max-height: 728px;
  margin-top: 61px;
}
.not-only_image > img {
  max-width: 100%;
  max-width: 100%;
}

@media (hover: hover) {
  .not-only_button:hover {
    background: #FDDCC4;
  }
}
.about-container {
  padding-top: 80px;
  justify-content: center;
  padding-bottom: 97px;
}

.about-image > img {
  margin-right: 120px;
}

.about_text-contant {
  max-width: 430px;
}
.about_text-contant > h2 {
  display: block;
  max-width: 370px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 14px;
}
.about_text-contant > p {
  display: block;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  margin-top: 24px;
}

.our-friends {
  background: #F6F6F6;
  display: flex;
}

.our-friends-container {
  flex-direction: column;
  align-items: center;
  width: 1280px;
}

.our-friends-title {
  max-width: 400px;
}
.our-friends-title > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 80px;
  text-align: center;
}

.our-friends_slider {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.our-friends_slider-items {
  display: flex;
  margin-bottom: 58px;
  align-items: center;
}

.our-friends_button {
  display: flex;
  width: 257px;
  height: 48px;
  background: #F1CDB3;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  margin: 0 auto;
  margin-bottom: 100px;
  border: 2px solid #F1CDB3;
  transition: 0.3s;
}

.arrow-prev {
  width: 48px;
  height: 48px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  margin-right: 53px;
  background: url("./../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2px;
}

.arrow-next {
  width: 48px;
  height: 48px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  margin-left: 53px;
  background: url("./../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2px;
}

.slider_item {
  width: 270px;
  height: 435px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;
}
.slider_item > h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}
.slider_item > img {
  margin-bottom: 28px;
}
.slider_item > button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #FAFAFA;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (hover: hover) {
  .slider_item:hover {
    background: #FFFFFF;
  }
  .slider_item:hover > button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .our-friends_button:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .arrow-prev:hover, .arrow-next:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}
.help-container {
  flex-direction: column;
  align-items: center;
}

.help_title {
  margin-top: 80px;
  max-width: 310px;
  justify-content: center;
}
.help_title > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.help_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1150px;
  margin: 59px 0 43px;
}

.help_item {
  text-align: center;
  margin: 0 60px 56px;
  display: flex;
  flex-direction: column;
  height: 113px;
  justify-content: space-between;
}
.help_item > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition {
  background: #F6F6F6;
}

.in-addition-container {
  justify-content: center;
}

.in-addition__content {
  display: flex;
  margin: 90px 0 99px;
  max-width: 914px;
}

.in-addition_text {
  display: flex;
  flex-direction: column;
  margin: 0 19px 0 30px;
}
.in-addition_text > h2 {
  max-width: 300px;
  margin: -10px 0 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.in-addition_text > a {
  width: 97%;
  min-height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.name_bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.bank_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  height: 100%;
}
.bank_link > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition_cursive {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

@media (hover: hover) {
  .in-addition_text > a:hover {
    background: #FDDCC4;
  }
}
footer {
  background: url("./../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-container {
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
}

.footer_item {
  margin: 16px 0 63px;
  max-width: 310px;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_item > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer_link {
  display: flex;
}
.footer_link > p {
  display: flex;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.3s;
  align-items: center;
}
.footer_link > img {
  margin: 0 20px 0px 0;
}

.footer_pet {
  margin-left: 23px;
  max-width: 300px;
}
.footer_pet > img {
  width: 100%;
}

@media (hover: hover) {
  .footer_link:hover > p {
    color: #FFFFFF;
  }
}
.footer_link:active > p {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
