@font-face {
  font-family: "Georgia";
  src: url("../../../../assets/fonts/georgia/Georgia.woff2") format("woff2"), url("../../../../assets/fonts/georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../../assets/fonts/arial/ArialMT.woff2") format("woff2"), url("../../../../assets/fonts/arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../../assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../../../../assets/fonts/arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  margin: 0;
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

.container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

header {
  background: url("./../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.container-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 59px;
}
@media (max-width: 768px) {
  .container-header {
    padding-top: 30px;
  }
}
@media (max-width: 320px) {
  .container-header {
    padding: 30px 20px 0;
  }
}

.logo {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.3s;
}

.logo_text {
  margin: 9px 0 0 3px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .logo_text {
    margin: 9px 0 0 4px;
  }
}

nav {
  padding-top: 3px;
}
@media (max-width: 767px) {
  nav {
    display: none;
  }
}

.header_menu {
  display: flex;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #FAFAFA;
}

.menu_item {
  margin-left: 36px;
  padding-bottom: 5px;
  color: #CDCDCD;
  transition: 0.3s;
}
.menu_item > a {
  color: #CDCDCD;
}

.selected {
  border-bottom: 3px solid #F1CDB3;
}
.selected > a {
  color: #FAFAFA;
  cursor: default;
}

.menu_item-link {
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  padding-bottom: 5px;
}

@media (max-width: 767px) {
  .hamb {
    width: 30px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 15;
  }
  .hamb span {
    border: 1px solid #F1CDB3;
    transition: all 0.3s;
  }
}

@media (hover: hover) {
  .menu_item-link:hover {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 5px;
    color: #FAFAFA;
  }
  .container-header > a:hover .logo {
    color: #FFFFFF;
  }
  .container-header > a:hover .logo_text {
    color: #F1CDB3;
  }
}
.menu_item-link:active {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 5px;
  color: #FAFAFA;
}

.container-header > a:active .logo {
  color: #FFFFFF;
}
.container-header > a:active .logo_text {
  color: #F1CDB3;
}

.not-only {
  background: url("./../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@media (max-width: 768px) {
  .not-only-container {
    flex-direction: column;
  }
}

.not-only-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 41px;
}
@media (max-width: 768px) {
  .not-only-text {
    max-width: 460px;
    margin-right: 0;
    margin: 0 auto;
  }
}

.not-only_title-container {
  max-width: 310px;
  margin: -18px 0 40px 0;
}
@media (max-width: 768px) {
  .not-only_title-container {
    margin: 61px 0 41px 0;
  }
}
@media (max-width: 320px) {
  .not-only_title-container {
    max-width: 200px;
    margin: 60px auto 41px;
  }
}

.not-only_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .not-only_title {
    font-size: 2.5rem;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.not-only_content-container {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  margin-bottom: 42px;
}

.not-only_content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
@media (max-width: 320px) {
  .not-only_content {
    text-align: center;
  }
}

.not-only_button {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .not-only_button {
    margin: 0 auto;
  }
}

.not-only_image {
  display: flex;
  max-width: 698px;
  margin-top: 61px;
}
.not-only_image > img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .not-only_image {
    max-width: 569px;
    margin-top: 100px;
    margin-left: auto;
  }
}
@media (max-width: 320px) {
  .not-only_image {
    max-width: 260px;
    margin-top: 105px;
  }
}

@media (hover: hover) {
  .not-only_button:hover {
    background: #FDDCC4;
  }
}
.not-only_button:active {
  background: #FDDCC4;
}

.about-container {
  padding-top: 80px;
  justify-content: center;
  padding-bottom: 97px;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }
}
@media (max-width: 320px) {
  .about-container {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

.about-image > img {
  margin-right: 120px;
}
@media (max-width: 768px) {
  .about-image > img {
    margin-right: 0;
    margin-top: 80px;
  }
}
@media (max-width: 320px) {
  .about-image > img {
    max-width: 260px;
    margin-top: 42px;
  }
}

@media (max-width: 768px) {
  .about-image {
    display: flex;
    justify-content: center;
  }
}

.about_text-content {
  max-width: 430px;
}
.about_text-content > h2 {
  display: block;
  max-width: 370px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 14px;
}
@media (max-width: 320px) {
  .about_text-content > h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
.about_text-content > p {
  display: block;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  margin-top: 24px;
}
@media (max-width: 320px) {
  .about_text-content > p {
    text-align: justify;
    margin-bottom: -2px;
  }
}
@media (max-width: 768px) {
  .about_text-content {
    margin: 0 auto;
  }
  .about_text-content > h2 {
    margin-top: 0;
  }
}
@media (max-width: 320px) {
  .about_text-content {
    max-width: 270px;
  }
}

.our-friends {
  background: #F6F6F6;
  display: flex;
}

.our-friends-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.our-friends-title {
  max-width: 400px;
}
.our-friends-title > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 80px;
  text-align: center;
}
@media (max-width: 768px) {
  .our-friends-title > h2 {
    margin-top: 81px;
  }
}
@media (max-width: 320px) {
  .our-friends-title > h2 {
    font-size: 2.5rem;
    margin-top: 42px;
  }
}

.our-friends_slider {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 768px) {
  .our-friends_slider {
    margin-top: 57px;
  }
}
@media (max-width: 320px) {
  .our-friends_slider {
    margin-top: 42px;
  }
}

.our-friends_slider-items {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
}
@media (max-width: 768px) {
  .our-friends_slider-items {
    margin-bottom: 60px;
  }
}
@media (max-width: 470px) {
  .our-friends_slider-items {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 320px) {
  .our-friends_slider-items {
    margin-bottom: 42px;
  }
}

.our-friends_button {
  display: flex;
  width: 257px;
  height: 48px;
  background: #F1CDB3;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  margin: 0 auto;
  margin-bottom: 100px;
  border: 2px solid #F1CDB3;
  transition: 0.3s;
}
@media (max-width: 320px) {
  .our-friends_button {
    margin-bottom: 42px;
  }
}

.arrow-prev {
  width: 48px;
  height: 48px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: url("./../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .arrow-prev {
    margin-top: 3px;
  }
}
@media (max-width: 470px) {
  .arrow-prev {
    display: none;
    margin-top: 0;
    margin-right: 23px;
  }
}

.mobile-arrow-prev {
  display: none;
  width: 48px;
  height: 48px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: url("./../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 470px) {
  .mobile-arrow-prev {
    display: block;
  }
}

.arrow-next {
  width: 48px;
  height: 48px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: url("./../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .arrow-next {
    margin-top: 3px;
  }
}
@media (max-width: 470px) {
  .arrow-next {
    margin-top: 0;
  }
}

.slider_item {
  width: 270px;
  height: 435px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;
}
.slider_item > h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}
.slider_item > img {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .slider_item > img {
    margin-bottom: 31px;
  }
}
.slider_item > button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #FAFAFA;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 320px) {
  .slider_item > img {
    margin-bottom: 29px;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 4.5%;
}
@media (max-width: 768px) {
  .slider {
    overflow: hidden;
    margin: 0 1.5%;
    justify-content: space-between;
  }
  .slider > :last-child {
    display: none;
  }
}
@media (max-width: 810px) {
  .slider {
    justify-content: space-between;
    margin: 0 1.5%;
  }
}
@media (max-width: 750px) {
  .slider {
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .slider {
    margin-bottom: 19px;
  }
}

@media (max-width: 1110px) {
  .third-item {
    display: none;
  }
}

@media (max-width: 750px) {
  .second-item {
    display: none;
  }
}

@media (hover: hover) {
  .slider_item:hover {
    background: #FFFFFF;
  }
  .slider_item:hover > button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .our-friends_button:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
  .arrow-prev:hover, .arrow-next:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}
.slider_item:active {
  background: #FFFFFF;
}
.slider_item:active > button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.our-friends_button:active {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.arrow-prev:active, .arrow-next:active {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.help-container {
  flex-direction: column;
  align-items: center;
}

.help_title {
  margin-top: 80px;
  max-width: 310px;
  justify-content: center;
}
.help_title > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media (max-width: 320px) {
  .help_title > h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .help_title {
    margin-top: 82px;
  }
}
@media (max-width: 320px) {
  .help_title {
    max-width: 270px;
    margin-top: 42px;
  }
}

.help_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1150px;
  margin: 59px 0 43px;
}
@media (max-width: 768px) {
  .help_content {
    max-width: 675px;
    justify-content: space-between;
    margin: 59px 0 48px;
  }
}
@media (max-width: 320px) {
  .help_content {
    margin: 41px 0 12px;
  }
}

.help_item {
  text-align: center;
  margin: 0 60px 56px;
  display: flex;
  flex-direction: column;
  height: 113px;
  justify-content: space-between;
}
.help_item > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 320px) {
  .help_item > p {
    font-size: 1.5rem;
    line-height: 110%;
  }
}
@media (max-width: 768px) {
  .help_item {
    margin: 0 23px 54px;
    width: 170px;
  }
}
@media (max-width: 320px) {
  .help_item {
    width: 130px;
    height: 87px;
    margin: 0 5px 30px;
  }
}

@media (max-width: 320px) {
  .help_img {
    width: 50px;
    height: 50px;
  }
}

.in-addition {
  background: #F6F6F6;
}

.in-addition-container {
  justify-content: center;
}

.in-addition__content {
  display: flex;
  margin: 90px 0 99px;
  max-width: 914px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .in-addition__content {
    flex-direction: column-reverse;
    margin: 80px 0 96px;
  }
}
@media (max-width: 320px) {
  .in-addition__content {
    margin: 42px 0 38px;
    align-items: center;
  }
}

.in-addition_dog {
  max-width: 505px;
}
.in-addition_dog > img {
  width: 100%;
}
@media (max-width: 320px) {
  .in-addition_dog {
    max-width: 260px;
  }
}
@media (max-width: 320px) {
  .in-addition_dog > img {
    width: 100%;
  }
}

.in-addition_text {
  display: flex;
  flex-direction: column;
  margin: 0 19px 0 30px;
  max-width: 360px;
}
.in-addition_text > h2 {
  max-width: 300px;
  margin: -10px 0 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 768px) {
  .in-addition_text > h2 {
    margin: 0px 0 19px;
  }
}
@media (max-width: 320px) {
  .in-addition_text > h2 {
    font-size: 2.5rem;
    text-align: center;
    max-width: 210px;
    margin: 0px 0 23px;
  }
}
.in-addition_text > a {
  width: 97%;
  min-height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  margin-bottom: 20px;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .in-addition_text > a {
    width: 92%;
  }
}
@media (max-width: 320px) {
  .in-addition_text > a {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .in-addition_text {
    max-width: 380px;
    margin: 0 auto 60px;
  }
}
@media (max-width: 320px) {
  .in-addition_text {
    max-width: 280px;
    align-items: center;
    margin: 0 auto 42px;
  }
}

.name_bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  .name_bank {
    letter-spacing: 0;
    margin-bottom: 24px;
  }
}

.bank_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  height: 100%;
}
.bank_link > p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 320px) {
  .bank_link > p {
    font-size: 1.5rem;
    line-height: 110%;
  }
}

.in-addition_cursive {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
@media (max-width: 320px) {
  .in-addition_cursive {
    text-align: justify;
  }
}

@media (hover: hover) {
  .in-addition_text > a:hover {
    background: #FDDCC4;
  }
}
.in-addition_text > a:active {
  background: #FDDCC4;
}

footer {
  background: url("./../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-container {
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer-container {
    padding-top: 15px;
    padding: 15px 56px 0;
    justify-content: space-between;
  }
  .footer-container > :first-child {
    margin-left: 9px;
  }
}
@media (max-width: 768px) and (max-width: 320px) {
  .footer-container > :first-child {
    margin-left: 0;
  }
}
@media (max-width: 470px) {
  .footer-container {
    padding: 15px 10px 0;
  }
}
@media (max-width: 320px) {
  .footer-container {
    padding: 15px 10px 0;
  }
}

.footer_item {
  margin: 16px 0 63px;
  max-width: 310px;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_item > h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .footer_item > h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer_item {
    min-height: 233px;
    margin: 16px 0 64px;
  }
}
@media (max-width: 320px) {
  .footer_item {
    margin: 15px 0 24px;
    min-height: 209px;
  }
}

@media (max-width: 320px) {
  .second-footer-item {
    align-items: center;
    min-height: 223px;
    margin-bottom: 38px;
  }
  .second-footer-item > h2 {
    max-width: 280px;
  }
  .second-footer-item > :last-child {
    margin-right: 30px;
  }
}

.footer_link {
  display: flex;
}
.footer_link > p {
  display: flex;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.3s;
  align-items: center;
}
.footer_link > img {
  margin: 0 20px 0px 0;
}
@media (max-width: 320px) {
  .footer_link {
    justify-content: center;
  }
}

.footer_pet {
  margin-left: 23px;
  max-width: 300px;
}
.footer_pet > img {
  width: 100%;
}
@media (max-width: 768px) {
  .footer_pet {
    margin-left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .footer_pet {
    max-width: 260px;
  }
  .footer_pet > img {
    width: 100%;
  }
}

@media (hover: hover) {
  .footer_link:hover > p {
    color: #FFFFFF;
  }
}
.footer_link:active > p {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
